obj
*.gv
*.dot
*.pdf
*.lp
*.ilp
*tags
*.bk
*.zip
*.txt
*.json
*.bak
lib/*
.gitignore
src/Makefile
obj/*
bin/.out
bin/OpenMPL
bin/.log
bin/*.gds
bin/bench/*.ascii
rpt_*
*.sdpa
*.sol
*.txt
test/regr/*-y.csv
test/regr/*-beta.csv
*.model
bin/Regr
*.tar.gz
test/regr
test/models
decomp_*
bin/.*
bin/*.zip
bin/bench/*.gds
bin/benchout/*
lib/OpenMPL.a
src/mpl/tags
cal
.idea
*.xml
*.iml
*.DS_Store
