obj
*.gv
*.dot
*.pdf
*.lp
*.ilp
*tags
*.bk
lib/*

obj/*
bin/.out
bin/OpenMPL
bin/.log
bin/*.gds
bin/bench/*.ascii
rpt_*
*.sdpa
*.sol
*.txt
test/regr/*-y.csv
test/regr/*-beta.csv
*.model
bin/Regr
*.tar.gz
test/regr
test/models
decomp_*
bin/*.zip
bin/bench/*.gds
bin/benchout/*
lib/OpenMPL.a
src/mpl/tags
cal
