obj
*.gv
*.dot
*.pdf
*.lp
*.ilp
*.gds
*tags
*.bk
lib/*

bin/.out
bin/SimpleMPL
bin/.log
bin/*.gds
bin/bench/*.ascii
log*
rpt_*
*.sdpa
*.sol
*.txt
test/regr/*-y.csv
test/regr/*-beta.csv
*.model
bin/Regr
*.tar.gz
test/regr
test/models
decomp_*
bin/*.zip
